/* nav styles */

:root {
  --black: #000;
  --white: #fff;
  --primary-color:  #DBDFAC;
  --secondary-color: #DB162F;
  --tertiary-color: #250902; /* #3B1F2B */ 
  /*#a0b4cc; bleu-gris*/
  --border-radius: 15px;
    --navbar-height: 60px;
}


@font-face {
  font-family: 'MaPolice';
  src: url('/fonts/Laira-Italic.otf') format('opentype');
  font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('/fonts/Iceberg-Regular.ttf') format('truetype');
  font-style: normal;
}

/*a {
  cursor: url('/cursors/mon-icone.png') 16 16, pointer;
}*/

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden
}

h1, h2{
  font-family: 'MaPolice', sans-serif;
    font-weight: normal; /* annule le bold par défaut du navigateur */
}


h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}


p{
    font-family: 'SecondaryFont', sans-serif;
      color: var(--tertiary-color);
      font-size: 1.4rem;
}



.hero {
  padding-top: var(--navbar-height);
}



  body {
    text-align: justify;
    align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
